<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>SalEats</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
	<servlet-name>LogoutServlet</servlet-name>
	<servlet-class>gutta_CSCI201L_Assignment4.LogoutServlet</servlet-class>
	</servlet>
  <servlet-mapping>
	<servlet-name>LogoutServlet</servlet-name>
	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>DetailServlet</servlet-name>
	<servlet-class>gutta_CSCI201L_Assignment4.DetailServlet</servlet-class>
	</servlet>
  <servlet-mapping>
	<servlet-name>DetailServlet</servlet-name>
	<url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>AddFavoritesServlet</servlet-name>
	<servlet-class>gutta_CSCI201L_Assignment4.AddFavoritesServlet</servlet-class>
	</servlet>
  <servlet-mapping>
	<servlet-name>AddFavoritesServlet</servlet-name>
	<url-pattern>/add-favorite</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>GetFavoritesServlet</servlet-name>
	<servlet-class>gutta_CSCI201L_Assignment4.GetFavoritesServlet</servlet-class>
	</servlet>
  <servlet-mapping>
	<servlet-name>GetFavoritesServlet</servlet-name>
	<url-pattern>/favorites</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>RegistrationValidationServlet</servlet-name>
	<servlet-class>gutta_CSCI201L_Assignment4.RegistrationValidationServlet</servlet-class>
	</servlet>
  <servlet-mapping>
	<servlet-name>RegistrationValidationServlet</servlet-name>
	<url-pattern>/validate-register</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>GoogleLoginServlet</servlet-name>
	<servlet-class>gutta_CSCI201L_Assignment4.GoogleLoginServlet</servlet-class>
	</servlet>
  <servlet-mapping>
	<servlet-name>GoogleLoginServlet</servlet-name>
	<url-pattern>/google-login</url-pattern>
  </servlet-mapping>
</web-app>
